<h1>Welcome to the Jungle...</h1>
<h4>We may lack fun and games, but we do have everything you could ever want!</h4>
<br>
<h4 style="font-weight: bold;">Our products include:</h4>
<ul>
  <li>Electric chair (non-lethal)</li>
  <li>Feet Shoes</li>
  <li>Hotdog Slicer (hotdogs not included)</li>
</ul>